.big-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.zoom-container{
    overflow: hidden;
}

.main-image{
  overflow: visible;
}

.image-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zoom-box{
    position: absolute;
    opacity: 0;
}

.content{
  background: greenyellow;
  text-align: center;
  position: absolute;
}